In [1]:
'''Write a python program to create and print a dictionary which stores your information.
(name, age, gender .....)'''
a=input("Enter your name:")
b=int(input("Enter your age:"))
c=input("Enter your Gender")
d={"Name":a,"Age":b,"Gender":c}
print(d)

Enter your name:Vaibhav
Enter your age:26
Enter your GenderMale
{'Name': 'Vaibhav', 'Age': 26, 'Gender': 'Male'}

In [4]:
# Write a python program to access the items of a dictionary by referring to its key name.
d1={101:"Vaibhav",102:"Kavita Madam",103:"Dharmendra chodu"}
print(d1[102])

Kavita Madam

In [5]:
# Write a python program to get a list of the values from a dictionary.
d1={101:"Vaibhav",102:"Kavita Madam",103:"Dharmendra chodu"}
d1.values()

dict_values(['Vaibhav', 'Kavita Madam', 'Dharmendra chodu'])

In [10]:
# Write a python program to change the value of a specific item by referring to its key name.
d1={101:"Vaibhav",102:"Kavita Madam",103:"Dharmendra chodu"}
d1[103]="Dharmendra"
print(d1)

{101: 'Vaibhav', 102: 'Kavita Madam', 103: 'Dharmendra'}

In [11]:
# Write a python program to print all key names in the dictionary, one by one.
d1={101:"Vaibhav",102:"Kavita Madam",103:"Dharmendra chodu"}
d1.keys()

dict_keys([101, 102, 103])

In [15]:
# Write a python program to create a dictionary that contains three dictionaries.(nested).
d1={'key1':{'key2':{'key3':'Value'}}}
d1['key1']['key2']['key3']

'Value'

In [18]:
'''Write a python program to create three dictionaries, then create one dictionary that
will contain the other three dictionaries.'''
d1={'key1':{'key2':{'key3':{'key4':'Value'}}}}
d1['key1']['key2']['key3']['key4']

'Value'

In [22]:
'''Write a python program to convert two lists into a dictionary in a way that item from
list1 is the key and item from list2 is the value.'''
l1=[1,2,3]
l2=['vaibhav','giri','vikash']
d=dict(zip(l1,l2))
print(d)

{1: 'vaibhav', 2: 'giri', 3: 'vikash'}

In [33]:
# Write a python program to merge two python dictionaries into one dictionary.
l1={1:'value1',2:'value2',3:'value3'}
l2={'vaibhav':1,'giri':2,'vikash':3}

l3=l1.copy()
l3.update(l2)
print(l3,type(l3))

{1: 'value1', 2: 'value2', 3: 'value3', 'vaibhav': 1, 'giri': 2, 'vikash': 3} <class 'dict'>

In [40]:
'''Write a python program to get the key of lowest value from the dictionary.
sample_dict = {'C': 92,'Java': 66,'Python': 85}'''
d1 = {'C': 92,'Java': 66,'Python': 85}
min(d1.keys())

'C'